<div><h3><i class="fa fa-angle-right"></i>Shared with me</h3>
        <hr>
    </div>
 <!-- each row will be linked to snapmail page as a first solution -->
    <table class="table table-hover">
    <thead>
      <tr>
        <th>Title</th>
        <th>Owner</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Video</td>
        <td>John</td>
        <td>15/03/2015</td>
      </tr>
      <tr>
        <td>Picture</td>
        <td>Mary</td>
        <td>16/04/2015</td>
      </tr>
      <tr>
        <td>text</td>
        <td>July</td>
        <td>20/04/2015</td>
      </tr>
    </tbody>
  </table>
  </div>