<h3><i class="fa fa-angle-right"></i>My Videos</h3>
<hr>
<div >

    <div class="row mt" ng-controller="MyVideosController as videos" >
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc" ng-repeat="content in videos.list">
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo">
                            <!--<a class="fancybox fancybox.iframe" href="dash.html?url={{content.link}}/dash/low_dash.mpd">-->
                            <a class="fancybox fancybox.iframe" href="{{videos.prefix}}.html?url={{content.link}}/{{videos.suffix}}">
                                <img class="img-responsive" ng-src="{{content.link}}/folder.jpg" alt="">
                            </a>
                        </div>
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- col-lg-4 -->
</div> <!-- end ng-controller -->

<!--script for this page-->

<script type="text/javascript">
    //Try to adapt dimensions with display
    var height = null;
    var width=  null;
    if ( $(window).width() < 854) {
        width = '90%';
        height = $(window).width()*0.9/(16/9)+50;
        height = height.toString() + 'px';
    }
    else {
        width = '854px';
        height = '510px'
    }

    $(document).ready(function () {
        //    fancybox
        $(".fancybox").fancybox({
            autoSize:     false,
            width:        width,
            height:       height,
            scrolling:    false,
            openEffect  : 'none',
            closeEffect : 'none',
            nextEffect  : 'none',
            prevEffect  : 'none',
            padding     : 0,
            margin      : [0, 0, 0, 0] // Increase left/right margin
        });
    });

</script>
</div>