<h3><i class="fa fa-angle-right"></i>My Videos</h3>
<hr>
<div >

    <div class="row mt" ng-controller="MyVideosController as videos" >
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 desc" ng-repeat="content in videos.list">
            <div class="project-wrapper">
                <div class="project">
                    <div class="photo-wrapper">
                        <div class="photo">
                            <a class="fancybox" href="assets/img/portfolio/port04.jpg">
                                <img class="img-responsive" ng-src="{{content.link}}/folder.jpg" alt="">
                            </a>
                            <p>{{content.link}}</p>
                            <p>{{content.name}}</p>
                        </div>
                        <div class="overlay"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- col-lg-4 -->
</div> <!-- end ng-controller -->

<!--script for this page-->

<script type="text/javascript">
    $(function () {
        //    fancybox
        jQuery(".fancybox").fancybox();
    });

</script>
