<div class="tb">
	<div class="tbr"></div>
	<div class="tbr">
		<div class="tbc" style="text-align: center; padding: 10px 30px; vertical-align: top">
			<h1>Welcome in SnapMail</h1>
				<p>The private cloud gateway</p>
		</div>
		<div class="tbc" style="text-align: left; padding: 10px 30px; vertical-align: bottom">
				<p>With SnapMail you can :
    				<ul>
        				<li>Upload your mail attachments on the cloud</li>
        				<li>Keep your files in your own server</li>
        				<li>Stream videos and pictures from anywhere</li>
        				<li>Download your upload files</li>
    				</ul>
				</p>
		</div>
	</div>
</div>
